@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --color-white: #f0f0f0;
  --color-main: #2874f0;
  --color-yellow: #ffe11b;
  --color-black: #172337;
}
body {
  background-color: var(--color-white);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.nav-header {
  height: 60px;
  background-color: var(--color-main);
}
.sticky {
  position: sticky;
  top: 0;
}

.nav-header .nav-contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 100px;
}
.nav-logo {
  color: var(--color-white);
  font-size: 20px;
}
.nav-logo span {
  color: var(--color-yellow);
}
.nav-search {
  display: flex;
}
.nav-search input {
  width: 350px;
  height: 30px;
  outline: none;
  border: none;
  padding: 10px;
}
.nav-search button {
  width: 70px;
  height: 30px;
  cursor: pointer;
  background-color: white;
  color: var(--color-main);
  font-size: 15px;
  border: none;
}
.loginbtn {
  width: 80px;
  height: 30px;
  background-color: white;
  border: none;
  color: var(--color-main);
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
}
.nav-style-tag {
  font-size: 15px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.item-lists {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  margin-bottom: 20px;
}
.item-lists .item-category {
  display: flex;
  padding: 10px;
}
.item-lists .item-category img {
  width: 70px;
  margin-bottom: 10px;
  object-fit: cover;
}
.item-lists .item-category p {
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
.item-lists .item-category p:hover {
  color: var(--color-main);
}
.card {
  padding: 0 20px;
  text-align: center;
}

.banner-container {
  padding: 0 20px;
}
.banner-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/* procuct part  */
.product-one-section {
  padding: 0 20px;
}
.products-row {
  display: flex;
  background-color: white;
  padding-top: 30px;

  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: space-between;
}
.product-card {
  width: 200px;
  height: 100%;

  text-align: center;
}
.product-card p {
  font-size: 23px;
}
.product-card button {
  font-size: 13px;
  padding: 10px 15px;
  background-color: var(--color-main);
  border: none;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.product-card img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.card-shop img {
  width: 130px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-shop h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
.card-shop h5 {
  font-size: 12px;
  color: green;
  margin-bottom: 5px;
}
.card-shop h6 {
  font-size: 12px;
  color: grey;
}

/* footer  */
footer {
  background-color: var(--color-black);
  height: 230px;
}
.footer-contents {
  display: flex;
  justify-content: space-around;

  padding-top: 30px;
}
.footer-contents {
  color: white;
  font-size: 12px;
  margin-bottom: 5px;
}
.grey-text {
  color: grey;
  margin-bottom: 10px;
}
.footer-underline {
  margin-top: 20px;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
}
.footer-bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.footer-bottom p {
  font-size: 13px;
  color: white;
}
